body {
    background: #131C2D;
    margin: 0;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

.user-card {
    background: #fff;
    width: 400px;
    /* height: 400px; */
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 6px;
}

.user-card__header {
    position: relative;
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.user-card__header::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
    background-image: url('../images/stalker.jpg');
    background-position: 48% 10%;
    background-size: 200%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user-card__header::after {
    position: absolute;
    content:"";
    border-style: solid;
    border-width: 50px 500px 0 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    left: -100px;
    top: 100px;
}

.user-card__img {
    border-radius: 50%;
    margin: 0 auto;
    z-index: 1;
    margin-bottom: 10px;
}

.user-card__name {
    margin-top: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
}

.user-card__location {
    color: grey;
}

.user-card__stats {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content:space-around;
    margin-bottom: 20px;
    padding: 0;
}

.user-card__body {
    text-align: center;
}

.user-card__stats-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.user-card__stats-title {
    color: grey;
    font-size: 13px;
    line-height: 13px;
}

.user-card__stats-number {
    font-weight: bold;
    font-size: 20px;
}

.user-card__view-profile-btn {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    background: linear-gradient(to right, #FE6F01, #FF3C00);
    border: 0;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user-card__view-profile-btn:hover {
    cursor: pointer;
}