body {
    margin: 0;
    background-color: #49626C;
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 366px;
    height: 505px;
    margin: 30% auto;
    background-color: #fff;
    text-align: center;
    border-radius: 44px;
}

.card__header {
    position: relative;
    padding-top: 60px;
    z-index: 1;
    margin-bottom: 20px;
}

.card__header::before {
    content: "";
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 173px;
    background: url('../images/background.jpg');
    background-size: cover;
    background-position: 0 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 0;
    z-index: 0;
}

.card__main {
    margin-bottom: 20px;
}

.card__photo {
    position: relative;
    border-radius: 50%;
    border: 10px solid white;
    margin-bottom: 15px;
}

.card__title {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 5px;
    font-weight: 400;
}

.card__tag {
    margin: 0;
    letter-spacing: 2px;
    color: #748084;
    font-weight: 300;
    font-size: 19px;
}

.card__bio {
    font-weight: 400;
    width: 292px;
    margin: 0 auto;
    color: #5E6B71;
}

.card__social {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.card__social-item:not(:last-child) {
    margin-right: 9px;
}